body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table-container {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .table-container {
    margin: 0.5em;
  }
}
.dashboard-container {
  display: flex;
  gap: 1em;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
    padding: 1em;
  }
}